:host {
  display: block;
  max-width: 547px;
  width: 100%;
}
$form-item-mx: 8px;

.form-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -$form-item-mx;
  margin-right: -$form-item-mx;
}

.form-item {
  flex-grow: 1;
  margin-left: $form-item-mx ;
  margin-right: $form-item-mx ;
}
