@import "src/style/variable/color";

:host {
  display: block;
  width: 100%;
  background: $white;
  box-sizing: border-box;
  padding: 18px 17px;
  box-shadow: 0 3px 5px 0 rgba($black, .2);
}
::ng-deep {
  $form-item-mt: 18px;
  form {
    margin-top: -$form-item-mt;
  }
  .form-item {
    margin-top: $form-item-mt;
  }
}
.form-btn {
  margin-top: 30px;
}
