@import "src/style/variable/color";
@import "src/style/variable/border";
:host {
  display: block;
}
::ng-deep input {
  border-radius: $border-radius-sm;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding: 16px;
  margin: 0;
  border: 1px solid $link-water;

  &:focus::placeholder {
    color: transparent;
  }
}
