<fd-form-container>
  <form id="form-one" class="form-one">
    <fd-input class="form-item"><input placeholder="Name" type="text"></fd-input>
    <fd-input class="form-item"><input placeholder="Surname" type="text"></fd-input>
    <fd-input class="form-item"><input placeholder="Age" type="text"></fd-input>
    <fd-input class="form-item"><input placeholder="City" type="text"></fd-input>
  </form>
  <input form="form-one" class="btn btn-lg w-100 form-btn" type="submit" value="ADD">
</fd-form-container>
