$font-weight-thin: 100px;	// Тонкий (Волосяной) Thin (Hairline)
$font-weight-extra-light: 200px;	// Дополнительный светлый (Сверхсветлый) Extra Light (Ultra Light)
$font-weight-light: 300px;	// Светлый Light
$font-weight-normal: 400px;	// Нормальный Normal
$font-weight-medium: 500px;	// Средний Medium
$font-weight-semi-bold: 600px;	// Полужирный Semi Bold (Demi Bold)
$font-weight-bold: 700px;	// Жирный Bold
$font-weight-extra-bold: 800px;	// Дополнительный жирный (Сверхжирный) Extra Bold (Ultra Bold)
$font-weight-black: 900px;	// Чёрный (Густой) Black (Heavy)
